<div ng-include="'views/navbar.view.html'"></div>

<div class="container">
    <label for="firstName">First Name</label>
    <input id="firstName"
           ng-model="model.user.firstName"
           class="form-control"/>
    <label for="lastName">Last Name</label>
    <input id="lastName"
           ng-model="model.user.lastName"
           class="form-control"/>
    <label for="dateOfBirth">Date Of Birth</label>
    <input id="dateOfBirth"
           type="date"
           ng-model="model.user.dateOfBirth"
           class="form-control"/>
    <label for="email">Email</label>
    <input id="email"
           ng-model="model.user.email"
           type="email"
           class="form-control"/>
    <label for="password">Password</label>
    <input id="password"
           ng-model="model.user.password"
           class="form-control"/>
    <label for="homeAddress">Home Address</label>
    <input id="homeAddress"
           ng-model="model.user.homeAddress"
           class="form-control"/>
    <label for="contact">Contact</label>
    <input id="contact"
           ng-model="model.user.contact"
           class="form-control"/>
    
    <a ng-click="model.updateUser(model.user)"
       class="btn btn-block btn-success">Update</a>

    <a ng-click="model.unregister()"
       class="btn btn-block btn-danger">Unregister</a>

    <a ng-click="model.logout()" class="btn btn-block btn-danger">Logout</a>
</div>